@model mvc.Producto

<div class="col">
    <div class="card h-100">
        <div class="card-header text-end">
            Id: <span class="badge text-bg-warning">@Html.DisplayFor(model => model.ProductoId)</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Nombre)</h5>
            <p class="card-text"><strong>Fabricante:</strong>@Html.DisplayFor(model => model.Fabricante)
            </p>
            <p class="card-text text-end"><small class="text-body-secondary"><strong>Precio:</strong>
                    $@Html.DisplayFor(model => model.Precio)</small></p>
        </div>
        <div class="card-footer text-center"><a href="#" class="btn btn-primary btn-sm">Detalles</a></div>
    </div>
</div>